A ICON MOVEABLE PURE LOADONCALL DISCARDABLE "assets/icon.ico"

# if defined(UNDER_CE)
#  include <winbase.h>
# else
#  include <winver.h>
# endif

VS_VERSION_INFO VERSIONINFO
    PRODUCTVERSION 5,2,6,0
    FILEVERSION 5,2,6,0
    FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
    FILEFLAGS VS_FF_DEBUG
#else
    FILEFLAGS 0x0L
#endif
    FILEOS VOS__WINDOWS32
    FILETYPE VFT_APP
    FILESUBTYPE 0x0L
    BEGIN
        BLOCK "StringFileInfo"
        BEGIN
            BLOCK "040904B0"
            BEGIN
                VALUE "CompanyName", "Gnovit Communications\0"
                VALUE "FileDescription", "vozer - vozer\0"
                VALUE "FileVersion", ""
				VALUE "ProductVersion", "5.2.6\0"
                VALUE "LegalCopyright", "Copyright (C) 2010-2024 Gnovit Communications https://www.vozer.site\0"
                VALUE "OriginalFilename", "vozer.exe\0"
                VALUE "ProductName", "vozer\0"
            END
        END
        BLOCK "VarFileInfo"
        BEGIN
            VALUE "Translation", 0x409, 1200
        END
    END
/* End of Version info */
